include modul-audio.pug
include modul-video.pug

mixin vyber(selectable)
  - const hasGallery = (selectable.galerie !== undefined) && (selectable.galerie !== false)

  .row
    .hidden.module-settings(data-selectable-id-reference= selectable.id data-module-zpetnavazba= selectable.zpetnaVazba data-module-settings= selectable.nastaveni)
    
    if (hasGallery)
      +gallery(selectable.galerie)
    
    if selectable.nastaveni.layout === "horizontalni"
      .selectable.selectable-horizontal(id= selectable.id data-selectable-target="" data-save="html")
        +vyberItems(selectable)
    else
      .selectable.selectable-vertical(id= selectable.id data-selectable-target="" data-save="html")
        +vyberItems(selectable)

mixin vyberItems(selectable)
  -
    const getMediaType = (item) => {
      if (item.medium === "text") {
        return "text";
      }
      else if (item.medium === "uzivatelsky text") {
        return "uzivatelsky-text";
      }
      else {
        const mediaExtension = item.objekt.split('.').pop();
        const isAudio = checkExtension(extensionsAudio, mediaExtension) ? "audio" : "";
        const isVideo = checkExtension(extensionsVideo, mediaExtension) ? "video" : "";
        const isImage = checkExtension(extensionsImage, mediaExtension) ? "image" : "";
        return isAudio + isVideo + isImage;
      }
    }

  each item, index in selectable.objekty
    -
      const mediaType = getMediaType(item);
      const selectionLabel = selectable.id + "-" + index;
      const inputType = (selectable.nastaveni.viceOdpovedi ? "checkbox" : "radio");

    .selectable-item(class="media-" + mediaType data-select-spravnaodpoved= item.spravnaOdpoved)

      input(
        type= inputType
        checked= (selectable.nastaveni.vybrano || false)
        name=selectable.id
        value=index
        id=selectionLabel
        data-selectable-data= (item.data || false)
      )
      label(for= selectionLabel)
        +vyberItem(item, mediaType)
        .selectable-toggle(class="selectable-toggle--" + inputType)
          svg(xmlns="http://www.w3.org/2000/svg")
            use(xlink:href="#icon-checkmark")

mixin vyberItem(item, mediaType)
  case mediaType
    when "audio"
      +audioPlayerSimple(item)
    when "video"
      +videoPlayer(item)
    when "image"
      img(src="../assets/img/" + item.objekt alt)
    when "uzivatelsky-text"
      - const uzivatelskyText = { otazky: item.objekt };
      +uzivatelskyText(uzivatelskyText)
    when "text"
      p !{item.objekt}
    default
      p medium #{item.medium} is not defined
